// Deklarasi Variabel Untuk semua Warna
$purpell: #4528c4;
$newpurpell: #563AD6;
$aqua: #3abad6;
$navi: #02044a;
$white: #fff;
$sofpur: #eaeaf4;
$darpur: #777790;
$medpur: #b4b5c9;
$lilpur: #f9f9fb;
$pink: #F85E9F;
$newpur:#9b9cb7;
$hitam:#000;
$orange: #FF5722;
$yellow: rgb(238, 202, 22);